<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- 컨트롤 버튼 -->
<div class="control-btn z-index-3" th:fragment="ctrlBtnFragment">
    <button type="button" class="btn btn-sm bg-gradient-dark btn-round fade" id="ToTop"><i class="fas fa-arrow-up"></i></button>
    <script>
        let topBtn = document.querySelector("#ToTop");

        window.addEventListener('scroll', function () {
            if (this.scrollY > 200) {
                topBtn.classList.add('show');
            } else {
                topBtn.classList.remove('show');
            }
        })
        topBtn.addEventListener('click', function (e) {
            e.preventDefault();
            window.scrollTo({top: 0, behavior: 'smooth'});
        })
    </script>
</div>
</html>