<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer class="footer bg-gradient-dark position-relative overflow-hidden mt-3" th:fragment="footerFragment">
    <div class="position-relative py-5" style="background-image: url('/img/shapes/pattern-lines.svg');background-position: center; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-4 col-12 ms-md-auto text-lg-start text-center mb-sm-0 mb-4">
                    <div>
                        <h5 class="text-white mb-1">보드</h5>
                        <ul class="flex-column ms-lg-n3 nav">
                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    메인
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    보드찾기
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    Top 10
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    신생보드
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-4 col-12 text-lg-start text-center mb-sm-0 mb-4">
                    <div>
                        <h5 class="text-white mb-1">차트</h5>
                        <ul class="flex-column ms-lg-n3 nav">
                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    인기글
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    인기뉴스
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    개인랭킹
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-4 col-12 text-lg-start text-center mb-sm-0 mb-4">
                    <div>
                        <h5 class="text-white mb-1">고객센터</h5>
                        <ul class="flex-column ms-lg-n3 nav">
                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    문의하기
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    이용안내
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    개인정보처리방침
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    개발자
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 me-auto my-auto text-lg-start text-center">
                    <h4 class="text-white font-weight-bolder text-uppercase mb-2">마이보드</h4>
                    <p class="text-white">
                        Copyright ©
                        <script>document.write(new Date().getFullYear())</script>
                        MyBoard by Devfox.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>