<section class="container mt-5">
    <div class="row">
        <div class="col-9 text-center mx-auto">
            <h3 class="mb-1" data-bs-toggle="tooltip" data-bs-placement="top" title="모든 보드의 미디어 게시물 중 인기있는 게시물을 가져옵니다.">인기 미디어</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 col-lg-3 my-2">
            <div class="card">
                <div class="card-header p-0 position-relative mx-3 z-index-2">
                    <a href="#" class="d-block blur-shadow-image">
                        <img src="https://images.unsplash.com/photo-1579523616974-c2b09289c27e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=966&amp;q=80" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
                    </a>
                    <div class="colored-shadow" style="background-image: url(&quot;https://demos.creative-tim.com/test/material-dashboard-pro/assets/img/products/product-1-min.jpg&quot;);"></div>
                </div>
                <div class="card-body px-4 pt-2">
                    <a href="#">
                        <h6 class="font-weight-normal mt-3">
                            Siri brings hands-free TV to more devices
                        </h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>