<!-- 마이메뉴 모달 -->
<div class="modal fade" id="MyMenuModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card bg-gray-200 shadow border-0 mb-0">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-info shadow-info border-radius-lg py-3 pe-1 text-center py-4">
                            <h4 class="font-weight-bolder text-white mt-1 mb-0">나의 메뉴</h4>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <a href="javascript:profileUpload()" class="avatar avatar-xl rounded-circle mymenu-profile position-relative">
                            <img src="/img/default_profile.jpg">
                            <i class="fas fa-camera"></i>
                        </a>
                        <script type="text/javascript">
                            function profileUpload() {
                                document.getElementById('ProfileUpload').click();
                            }
                        </script>
                        <input type="file" id="ProfileUpload" style="display: none"/>

                        <h4 class="mt-2">이진솔<span><img class="level-img" src="/img/level/20.gif"><p>대령 2호봉 | <span class="text-info text-bold">1,239,432</span>P</p></span></h4>
                        <p>devfox3217@gmail.com</p>
                        <div id="Toasts" class="col-12 mt-3">

                            <div class="toast fade show d-flex align-items-center justify-content-between bg-gradient-info border-0 pe-2 mx-auto mt-2" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-body text-white">
                                    <a href="#">
                                        <i class="fas fa-bell"></i>
                                        <span>새로운 댓글이 있습니다.</span>
                                    </a>
                                </div>
                                <i class="fas fa-times text-md cursor-pointer pe-2 text-white" data-bs-dismiss="toast" aria-label="Close"></i>
                            </div>

                            <div class="toast fade show d-flex align-items-center justify-content-between bg-gradient-warning border-0 pe-2 mx-auto mt-2" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-body text-white">
                                    <a href="#">
                                        <i class="fas fa-envelope"></i>
                                        <span>새로운 쪽지가 있습니다.</span>
                                    </a>
                                </div>
                                <i class="fas fa-times text-md cursor-pointer pe-2 text-white" data-bs-dismiss="toast" aria-label="Close"></i>
                            </div>

                            <div class="toast fade show d-flex align-items-center justify-content-between bg-gradient-danger border-0 pe-2 mx-auto mt-2" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-body text-white">
                                    <a href="#">
                                        <i class="fas fa-exclamation-circle"></i>
                                        <span>리그오브레전드 보드에서 차단당했습니다!</span>
                                    </a>
                                </div>
                                <i class="fas fa-times text-md cursor-pointer pe-2 text-white" data-bs-dismiss="toast" aria-label="Close"></i>
                            </div>

                        </div>
                        <div class="col-12 mt-3">
                            <a href="#" class="btn bg-gradient-info mt-4 mb-0">정보 수정</a>
                            <a href="#" class="btn btn-warning mt-4 mb-0">쪽지 (3)</a>
                            <a href="#" class="btn btn-outline-info mt-4 mb-0">내가 쓴 글</a>
                        </div>
                        <div class="col-12 mt-3">
                            <a class="btn btn-sm btn-outline-danger" href="/signout">차단된 보드</a>
                            <a class="btn btn-sm btn-outline-dark" href="/signout">로그아웃</a>
                        </div>
                        <div class="col-12 mt-3">
                            <a class="btn btn-sm btn-dark float-end" data-bs-dismiss="modal">닫기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
