<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<div class="card card-body mx-lg-3 mt-3 board" th:fragment="searchFragment">
    <section class="container">
        <div class="row border-radius-md ps-0">
            <div class="col-9 col-lg-6 mb-0">
                <div class="input-group input-group-outline">
                    <label class="form-label">통합검색</label>
                    <input type="email" class="form-control">
                </div>
            </div>
            <div class="col-3 col-lg-2 ps-0">
                <button type="button" class="btn bg-gradient-info mb-0"><i class="fas fa-search"></i></button>
            </div>
            <div id="KeywordBox" class="col-12 col-lg-4 mt-4 mt-lg-2 splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <a class="search-item" href="#"><span class="badge badge-circle bg-info">1</span> 리그오브레전드1</a>
                        </li>
                        <li class="splide__slide">
                            <a class="search-item" href="#"><span class="badge badge-circle bg-info">2</span> 리그오브레전드2</a>
                        </li>
                        <li class="splide__slide">
                            <a class="search-item" href="#"><span class="badge badge-circle bg-info">3</span> 리그오브레전드3</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
</html>