.navbar-brand img {
    height: 100%;
}

.news-thumbnail {
    height: 0;
    overflow: hidden;
    padding-bottom: 67%;
}

.news-thumbnail img {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}