<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <!-- meta include-->
    <th:block th:include="inc/meta"></th:block>
    <!-- Project Plugin css -->
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.2.7/dist/css/splide.min.css" rel="stylesheet">

    <title>마이보드 | 메인</title>
</head>

<body class="bg-gray-200">

<!-- nav include-->
<th:block th:replace="inc/nav :: navFragment"></th:block>

<!-- search include-->
<th:block th:replace="inc/search :: searchFragment"></th:block>

<div class="card card-body mx-lg-3 mt-3 board">
    <section class="container col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-10">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                <div class="m-section">
                    <div class="m-title">
                        <h4>실시간 베스트</h4>
                    </div>
                    <div class="m-list">
                        <ul>
                            <li>
                                <a href="#">
                                    <div class="m-list-thumbnail">
                                        <img src="/img/default_thumb.png">
                                    </div>
                                    <div class="m-list-title">
                                        <p>이재명식 가로등 고장 안나게하는 비법 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ</p><em>&nbsp;[2343]</em>
                                    </div>
                                    <div class="m-list-info">
                                        <span>리그오브레전드 | 10.24</span>
                                    </div>
                                    <div class="m-list-sm">
                                        <div class="m-sm-title">
                                            <span>이재명식 가로등 고장 안나게하는 비법 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ</span><em>&nbsp;[2332]</em>
                                        </div>
                                        <div class="m-sm-info">
                                            <span>리그오브레전드 | 10.24</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <div class="col-12 my-3 d-lg-block d-none">
                    <div class="card">
                        <div class="card-body text-center">
                            <h1 class="text-gradient text-info"><span id="status3" countto="87">1,432</span> <span class="text-lg ms-n2">개</span></h1>
                            <h6 class="mb-0 font-weight-bolder">게시물 등록</h6>
                            <p class="opacity-8 mb-0 text-sm"></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 my-3 mini-section">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-bold">보드 순위</h5>
                            <hr>
                            <ul class="text-bold">
                                <li>
                                    <a href="#"><span class="badge bg-gradient-info">1</span> 리그오브레전드</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 my-3 mini-section">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-bold">인기글</h5>
                            <hr>
                            <ul>
                                <li>
                                    <a href="#">아 오늘 진짜 무슨일</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 my-3 mini-section">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-bold">실시간 뉴스</h5>
                            <hr>
                            <ul>
                                <li>
                                    <a href="#">아 오늘 진짜 무슨일</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- media include-->
<th:block th:include="inc/media_bottom"></th:block>

<!-- footer include-->
<th:block th:include="inc/footer"></th:block>

<!-- mymenu modal include-->
<th:block th:replace="inc/mymenu :: myMenuFragment"></th:block>

<!-- control to top include-->
<th:block th:include="inc/ctrl_totop"></th:block>

<!-- Bootstrap JS from CDN -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Project basic js-->
<script src="/js/material.min.js" type="text/javascript"></script>
<!-- Project Plugins -->
<script src="/js/choices.min.js" type="text/javascript"></script>
<script src="/js/anime.min.js" type="text/javascript"></script>
<script src="/js/buttons.min.js" type="text/javascript"></script>
<script src="/js/parallax.min.js" type="text/javascript"></script>
<script src="/js/perfect-scrollbar.min.js" type="text/javascript"></script>
<script src="/js/prism.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.2.7/dist/js/splide.min.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const splide = new Splide('.splide', {
            type: 'loop',
            arrows: false,
            pagination: false,
            direction: 'ttb',
            height   : '2.2rem',
            margin:10,
            autoplay: true,
            interval: 2000
        });
        splide.mount();
    });
</script>
</body>
</html>