<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Nanum Font CDN -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <!-- Fontawesome from CDN -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- Material Icons from CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- Project basic css -->
    <link th:href="@{/css/material.min.css}" rel="stylesheet">
    <link th:href="@{/css/board.css}" rel="stylesheet">

    <title>마이보드 | 로그인</title>
</head>

<body class="sign-up-illustration">

<section>
    <div class="page-header min-vh-100">
        <div class="container">
            <div class="row">
                <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
                    <div class="position-relative bg-gradient-info h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('/img/illustrations/signin.jpg');background-position: center; background-size: cover;">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
                    <div class="card card-plain">
                        <div class="card-header text-center">
                            <h1 class="mb-2">마이보드</h1>
                            <h4 class="font-weight-bolder">로그인</h4>
                        </div>
                        <div class="card-body">
                            <form role="form" method="post" action="/signinprocess">
                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">이메일</label>
                                    <input type="email" class="form-control" name="username">
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">비밀번호</label>
                                    <input type="password" class="form-control" name="password">
                                </div>
                                <div class="form-check form-switch d-flex align-items-center mb-4">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="remember-me">
                                    <label class="form-check-label ms-3 mb-0" for="flexSwitchCheckDefault">로그인 기억하기</label>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-lg bg-gradient-info btn-lg w-100 mt-4 mb-0">로그인</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center pt-0 px-lg-2 px-1">
                            <p class="mb-2 text-sm mx-auto">
                                <a href="#" class="text-info text-gradient font-weight-bold" data-bs-toggle="modal" data-bs-target="#FindUser">아이디 찾기</a>
                                &nbsp;|&nbsp;
                                <a href="#" class="text-info text-gradient font-weight-bold" data-bs-toggle="modal" data-bs-target="#FindPassword">비밀번호 찾기</a>
                            </p>
                            <p class="mb-2 text-sm mx-auto">
                                아직 회원이 아니세요?
                                <a href="/" class="text-info text-gradient font-weight-bold">회원가입</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 아이디 찾기 -->
<div class="modal fade" id="FindUser" tabindex="-1" aria-labelledby="FindUser" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card bg-gray-200 shadow border-0 mb-0">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-info shadow-info border-radius-lg py-3 pe-1 text-center py-4">
                            <h4 class="font-weight-bolder text-white mt-1 mb-0">아이디 찾기</h4>
                            <p class="mb-1 text-sm text-white">가입시 입력하신 이메일을 입력하세요</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="input-group input-group-static mb-4 mt-3">
                                <label>이메일</label>
                                <input type="email" class="form-control" placeholder="이메일">
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn bg-gradient-info mt-4 mb-0">이메일 전송</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn bg-gradient-dark mb-0 justify-content-end" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 비밀번호 찾기 -->
<div class="modal fade" id="FindPassword" tabindex="-1" aria-labelledby="FindPassword" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card bg-gray-200 shadow border-0 mb-0">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-info shadow-info border-radius-lg py-3 pe-1 text-center py-4">
                            <h4 class="font-weight-bolder text-white mt-1 mb-0">비밀번호 찾기</h4>
                            <p class="mb-1 text-sm text-white">가입시 입력하신 이메일을 입력하세요</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="input-group input-group-static mb-4 mt-3">
                                <label>이메일</label>
                                <input type="email" class="form-control" placeholder="이메일">
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn bg-gradient-info mt-4 mb-0">이메일 전송</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn bg-gradient-dark mb-0 justify-content-end" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS from CDN -->
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Project basic js-->
<script th:src="@{/js/material.min.js}" type="text/javascript"></script>
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
</body>
</html>