<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- Nanum Font CDN -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <!-- Fontawesome from CDN -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- Material Icons from CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- Logo Font -->
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap" rel="stylesheet">
    <!-- Project basic css -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="../static/css/material.min.css" rel="stylesheet">
    <link href="../static/css/board.css" rel="stylesheet">
    <!-- Project Plugin css -->
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.2.7/dist/css/splide.min.css" rel="stylesheet">

    <title>마이보드 | 메인</title>
</head>

<body class="bg-gray-200">
<nav class="navbar navbar-expand-lg navbar-light bg-gradient-info py-3">
    <div class="container">
        <a class="navbar-brand font-weight-bold d-none d-md-block text-white" href="/" target="_blank" style="margin-top:-14px;margin-bottom:-20px;font-size: 2.5rem;font-weight: bold;font-family: 'Dongle', serif">
            마이보드
        </a>
        <a class="navbar-brand font-weight-bold d-block d-md-none text-white" href="/" target="_blank" style="margin-top:-14px;margin-bottom:-20px;font-size: 2.5rem;font-weight: bold;font-family: 'Dongle', serif">
            마이보드
        </a>
        <button class="btn btn-sm btn-link text-white mb-0 ms-auto d-lg-none d-block" style="width: 40%" data-bs-toggle="modal" data-bs-target="#MyMenuModal">
            <img class="profile-img" src="../static/img/default_profile.jpg">
            &nbsp;김철수
        </button>
        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1 bg-white"></span>
          <span class="navbar-toggler-bar bar2 bg-white"></span>
          <span class="navbar-toggler-bar bar3 bg-white"></span>
        </span>
        </button>
        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">
                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex cursor-pointer align-items-center text-white" id="NavBoardMenu" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                        <i class="material-icons opacity-7 me-2 text-md">dashboard</i>
                        <span class="nav-title">보드</span>
                        <img src="../static/img/down-arrow-white.svg" alt="down-arrow" class="arrow ms-auto ms-lg-2">
                    </a>
                    <div class="dropdown-menu dropdown-menu-animation dropdown-md border-radius-xl p-3 mt-0 mt-lg-3" aria-labelledby="NavChartMenu">
                        <div class="d-none d-lg-flex">
                            <ul class="list-group w-100">
                                <li class="nav-item list-group-item border-0 p-0">
                                    <a href="../../pages/coming-soon.html" class="dropdown-item border-radius-md text-dark ps-3 d-flex align-items-center mb-1">
                                        <span>메인</span>
                                    </a>
                                </li>
                                <li class="nav-item list-group-item border-0 p-0">
                                    <a href="../../pages/coming-soon.html" class="dropdown-item border-radius-md text-dark ps-3 d-flex align-items-center mb-1">
                                        <span>Top 10</span>
                                    </a>
                                </li>
                                <li class="nav-item list-group-item border-0 p-0">
                                    <a href="../../pages/2fa-security.html" class="dropdown-item border-radius-md text-dark ps-3 d-flex align-items-center mb-1">
                                        <span>보드찾기</span>
                                    </a>
                                </li>
                                <li class="nav-item list-group-item border-0 p-0">
                                    <a href="../../pages/2fa-security.html" class="dropdown-item border-radius-md text-dark ps-3 d-flex align-items-center mb-1">
                                        <span>신생보드</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="row d-lg-none w-100 mx-auto">
                            <div class="col-12 d-flex justify-content-center flex-column">
                                <a href="../../pages/sign-in/sign-in-cover.html" class="dropdown-item border-radius-md">
                                    메인
                                </a>
                                <a href="../../pages/sign-in/sign-in-illustration.html" class="dropdown-item border-radius-md">
                                    Top 10
                                </a>
                                <a href="../../pages/sign-in/sign-in-basic.html" class="dropdown-item border-radius-md">
                                    보드찾기
                                </a>
                                <a href="../../pages/sign-in/sign-in-basic.html" class="dropdown-item border-radius-md">
                                    신생보드
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="text-white nav-link ps-2 d-flex cursor-pointer align-items-center" id="NavChartMenu" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                        <i class="material-icons opacity-7 me-2 text-md">insights</i>
                        <span class="nav-title">차트</span>
                        <img src="../static/img/down-arrow-white.svg" alt="down-arrow" class="arrow ms-auto ms-lg-2">
                    </a>
                    <div class="dropdown-menu dropdown-menu-animation dropdown-md border-radius-xl p-3 mt-0 mt-lg-3" aria-labelledby="NavChartMenu">
                        <div class="d-none d-lg-flex">
                            <ul class="list-group w-100">
                                <li class="nav-item list-group-item border-0 p-0">
                                    <a href="../../pages/coming-soon.html" class="dropdown-item border-radius-md text-dark ps-3 d-flex align-items-center mb-1">
                                        <span>인기글</span>
                                    </a>
                                </li>
                                <li class="nav-item list-group-item border-0 p-0">
                                    <a href="../../pages/2fa-security.html" class="dropdown-item border-radius-md text-dark ps-3 d-flex align-items-center mb-1">
                                        <span>인기뉴스</span>
                                    </a>
                                </li>
                                <li class="nav-item list-group-item border-0 p-0">
                                    <a href="../../pages/2fa-security.html" class="dropdown-item border-radius-md text-dark ps-3 d-flex align-items-center mb-1">
                                        <span>개인랭킹</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="row d-lg-none w-100 mx-auto">
                            <div class="col-12 d-flex justify-content-center flex-column">
                                <a href="../../pages/sign-in/sign-in-cover.html" class="dropdown-item border-radius-md">
                                    인기글
                                </a>
                                <a href="../../pages/sign-in/sign-in-illustration.html" class="dropdown-item border-radius-md">
                                    인기뉴스
                                </a>
                                <a href="../../pages/sign-in/sign-in-basic.html" class="dropdown-item border-radius-md">
                                    개인랭킹
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="text-white nav-link ps-2 d-flex cursor-pointer align-items-center" id="NavCustomerMenu" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                        <i class="material-icons opacity-7 me-2 text-md">support_agent</i>
                        <span class="nav-title">고객센터</span>
                        <img src="../static/img/down-arrow-white.svg" alt="down-arrow" class="arrow ms-auto ms-lg-2">
                    </a>
                    <div class="dropdown-menu dropdown-menu-animation dropdown-md border-radius-xl p-3 mt-0 mt-lg-3" aria-labelledby="NavCustomerMenu">
                        <div class="d-none d-lg-flex">
                            <ul class="list-group w-100">
                                <li class="nav-item list-group-item border-0 p-0">
                                    <a href="../../pages/coming-soon.html" class="dropdown-item border-radius-md text-dark ps-3 d-flex align-items-center mb-1">
                                        <span>문의하기</span>
                                    </a>
                                </li>
                                <li class="nav-item list-group-item border-0 p-0">
                                    <a href="../../pages/2fa-security.html" class="dropdown-item border-radius-md text-dark ps-3 d-flex align-items-center mb-1">
                                        <span>이용안내</span>
                                    </a>
                                </li>
                                <li class="nav-item list-group-item border-0 p-0">
                                    <a href="../../pages/2fa-security.html" class="dropdown-item border-radius-md text-dark ps-3 d-flex align-items-center mb-1">
                                        <span>개인정보처리방침</span>
                                    </a>
                                </li>
                                <li class="nav-item list-group-item border-0 p-0">
                                    <a href="../../pages/2fa-security.html" class="dropdown-item border-radius-md text-dark ps-3 d-flex align-items-center mb-1">
                                        <span>개발자</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="row d-lg-none w-100 mx-auto">
                            <div class="col-12 d-flex justify-content-center flex-column">
                                <a href="../../pages/sign-in/sign-in-cover.html" class="dropdown-item border-radius-md">
                                    문의하기
                                </a>
                                <a href="../../pages/sign-in/sign-in-illustration.html" class="dropdown-item border-radius-md">
                                    이용안내
                                </a>
                                <a href="../../pages/sign-in/sign-in-basic.html" class="dropdown-item border-radius-md">
                                    개인정보처리방침
                                </a>
                                <a href="../../pages/sign-in/sign-in-basic.html" class="dropdown-item border-radius-md">
                                    개발자
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav d-lg-block d-none">
                <li class="nav-item">
                    <button type="button" class="btn btn-sm btn-link text-white mb-0 me-1" data-bs-toggle="modal" data-bs-target="#MyMenuModal">
                        <img class="profile-img" src="../static/img/default_profile.jpg" alt="">
                        &nbsp;김철수
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="card card-body mx-lg-3 mt-3">
    <section class="container">
        <div class="row border-radius-md ps-0">
            <div class="col-9 col-lg-6 mb-0">
                <div class="input-group input-group-outline">
                    <label class="form-label">통합검색</label>
                    <input type="email" class="form-control">
                </div>
            </div>
            <div class="col-3 col-lg-2 ps-0">
                <button type="button" class="btn bg-gradient-info mb-0"><i class="fas fa-search"></i></button>
            </div>
            <div id="KeywordBox" class="col-12 col-lg-4 mt-4 mt-lg-2 splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <a class="search-item" href="#"><span class="badge badge-circle bg-info">1</span> 리그오브레전드1</a>
                        </li>
                        <li class="splide__slide">
                            <a class="search-item" href="#"><span class="badge badge-circle bg-info">2</span> 리그오브레전드2</a>
                        </li>
                        <li class="splide__slide">
                            <a class="search-item" href="#"><span class="badge badge-circle bg-info">3</span> 리그오브레전드3</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="card card-body mx-lg-3 mt-3 board">
    <section class="container col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-10">
        <div class="row">

        </div>
    </section>

    <section class="container col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-10 mini-section">
        <div class="row pb-3">
            <div class="col-sm-12 col-md-6 my-3 mini-section">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-bold" data-bs-toggle="tooltip" data-bs-placement="top" title="모든 보드의 게시물 중 인기있는 게시물을 가져옵니다.">전체 인기글</h5>
                        <hr>
                        <ul>
                            <li>
                                <a href="#">아 오늘 진짜 무슨일</a>
                            </li>
                            <li>
                                <a href="#">아 오늘 진짜 무슨일</a>
                            </li>
                            <li>
                                <a href="#">아 오늘 진짜 무슨일</a>
                            </li>
                            <li>
                                <a href="#">아 오늘 진짜 무슨일</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 my-3 mini-section">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-bold" data-bs-toggle="tooltip" data-bs-placement="top" title="최신 뉴스를 불러옵니다.">뉴스</h5>
                        <hr>
                        <ul>
                            <li>
                                <a href="#">아 오늘 진짜 무슨일</a>
                            </li>
                            <li>
                                <a href="#">아 오늘 진짜 무슨일</a>
                            </li>
                            <li>
                                <a href="#">아 오늘 진짜 무슨일</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="container mt-5">
    <div class="row">
        <div class="col-9 text-center mx-auto">
            <h3 class="mb-1" data-bs-toggle="tooltip" data-bs-placement="top" title="모든 보드의 미디어 게시물 중 인기있는 게시물을 가져옵니다.">인기 미디어</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 col-lg-3 my-2">
            <div class="card">
                <div class="card-header p-0 position-relative mx-3 z-index-2">
                    <a href="#" class="d-block blur-shadow-image">
                        <img src="https://images.unsplash.com/photo-1579523616974-c2b09289c27e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=966&amp;q=80" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
                    </a>
                    <div class="colored-shadow" style="background-image: url(&quot;https://demos.creative-tim.com/test/material-dashboard-pro/assets/img/products/product-1-min.jpg&quot;);"></div>
                </div>
                <div class="card-body px-4 pt-2">
                    <a href="#">
                        <h6 class="font-weight-normal mt-3">
                            Siri brings hands-free TV to more devices
                        </h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer bg-gradient-dark position-relative overflow-hidden mt-3">
    <div class="position-relative py-5" style="background-image: url('../static/img/shapes/pattern-lines.svg');background-position: center; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-4 col-12 ms-md-auto text-lg-start text-center mb-sm-0 mb-4">
                    <div>
                        <h5 class="text-white mb-1">보드</h5>
                        <ul class="flex-column ms-lg-n3 nav">
                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    메인
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    보드찾기
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    Top 10
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    신생보드
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-4 col-12 text-lg-start text-center mb-sm-0 mb-4">
                    <div>
                        <h5 class="text-white mb-1">차트</h5>
                        <ul class="flex-column ms-lg-n3 nav">
                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    인기글
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    인기뉴스
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    개인랭킹
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-4 col-12 text-lg-start text-center mb-sm-0 mb-4">
                    <div>
                        <h5 class="text-white mb-1">고객센터</h5>
                        <ul class="flex-column ms-lg-n3 nav">
                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    문의하기
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    이용안내
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    개인정보처리방침
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white opacity-8 text-sm" href="javascript:;" target="_blank">
                                    개발자
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 me-auto my-auto text-lg-start text-center">
                    <h4 class="text-white font-weight-bolder text-uppercase mb-2">마이보드</h4>
                    <p class="text-white">
                        Copyright ©
                        <script>document.write(new Date().getFullYear())</script>
                        MyBoard by Devfox.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- 컨트롤 버튼 -->
<div class="control-btn z-index-3">
    <button type="button" class="btn btn-sm bg-gradient-dark btn-round fade" id="ToTop"><i class="fas fa-arrow-up"></i></button>
    <button type="button" class="btn bg-gradient-warning btn-round"><i class="fas fa-cog"></i> 관리</button>
    <button type="button" class="btn bg-gradient-info btn-round"><i class="fas fa-pencil-alt"></i> 글쓰기</button>

    <script>
        let topBtn = document.querySelector("#ToTop");

        window.addEventListener('scroll', function () {
            if (this.scrollY > 200) {
                topBtn.classList.add('show');
            } else {
                topBtn.classList.remove('show');
            }
        })
        topBtn.addEventListener('click', function (e) {
            e.preventDefault();
            window.scrollTo({top: 0, behavior: 'smooth'});
        })
    </script>
</div>

<!-- 마이메뉴 모달 -->
<div class="modal fade" id="MyMenuModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card bg-gray-200 shadow border-0 mb-0">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-info shadow-info border-radius-lg py-3 pe-1 text-center py-4">
                            <h4 class="font-weight-bolder text-white mt-1 mb-0">나의 메뉴</h4>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <a href="javascript:profileUpload()" class="avatar avatar-xl rounded-circle mymenu-profile position-relative">
                            <img src="../static/img/default_profile.jpg">
                            <i class="fas fa-camera"></i>
                        </a>
                        <script type="text/javascript">
                            function profileUpload() {
                                document.getElementById('ProfileUpload').click();
                            }
                        </script>
                        <input type="file" id="ProfileUpload" style="display: none"/>

                        <h4 class="mt-2">김철수<span><img class="level-img" src="../static/img/level/20.gif"><p>대령 2호봉 | <span class="text-info text-bold">1,239,432</span>P</p></span></h4>
                        <p>devfox3217@gmail.com</p>
                        <div id="Toasts" class="col-12 mt-3">

                            <div class="toast fade show d-flex align-items-center justify-content-between bg-gradient-info border-0 pe-2 mx-auto mt-2" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-body text-white">
                                    <a href="#">
                                        <i class="fas fa-bell"></i>
                                        <span>새로운 댓글이 있습니다.</span>
                                    </a>
                                </div>
                                <i class="fas fa-times text-md cursor-pointer pe-2 text-white" data-bs-dismiss="toast" aria-label="Close"></i>
                            </div>

                            <div class="toast fade show d-flex align-items-center justify-content-between bg-gradient-warning border-0 pe-2 mx-auto mt-2" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-body text-white">
                                    <a href="#">
                                        <i class="fas fa-envelope"></i>
                                        <span>새로운 쪽지가 있습니다.</span>
                                    </a>
                                </div>
                                <i class="fas fa-times text-md cursor-pointer pe-2 text-white" data-bs-dismiss="toast" aria-label="Close"></i>
                            </div>

                            <div class="toast fade show d-flex align-items-center justify-content-between bg-gradient-danger border-0 pe-2 mx-auto mt-2" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-body text-white">
                                    <a href="#">
                                        <i class="fas fa-exclamation-circle"></i>
                                        <span>리그오브레전드 보드에서 차단당했습니다!</span>
                                    </a>
                                </div>
                                <i class="fas fa-times text-md cursor-pointer pe-2 text-white" data-bs-dismiss="toast" aria-label="Close"></i>
                            </div>

                        </div>
                        <div class="col-12 mt-3">
                            <a href="#" class="btn bg-gradient-info mt-4 mb-0">정보 수정</a>
                            <a href="#" class="btn btn-warning mt-4 mb-0">쪽지 (3)</a>
                            <a href="#" class="btn btn-outline-info mt-4 mb-0">내가 쓴 글</a>
                        </div>
                        <div class="col-12 mt-3">
                            <a class="btn btn-sm btn-outline-danger" href="/signout">차단된 보드</a>
                            <a class="btn btn-sm btn-outline-dark" href="/signout">로그아웃</a>
                        </div>
                        <div class="col-12 mt-3">
                            <a class="btn btn-sm btn-dark float-end" data-bs-dismiss="modal">닫기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS from CDN -->
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<!-- Project basic js-->
<script src="../static/js/material.min.js" type="text/javascript"></script>
<!-- Project Plugins -->
<script src="../static/js/choices.min.js" type="text/javascript"></script>
<script src="../static/js/anime.min.js" type="text/javascript"></script>
<script src="../static/js/buttons.min.js" type="text/javascript"></script>
<script src="../static/js/parallax.min.js" type="text/javascript"></script>
<script src="../static/js/perfect-scrollbar.min.js" type="text/javascript"></script>
<script src="../static/js/prism.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.2.7/dist/js/splide.min.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const splide = new Splide('.splide', {
            type: 'loop',
            arrows: false,
            pagination: false,
            direction: 'ttb',
            height: '2.2rem',
            margin: 10,
            autoplay: true,
            interval: 2000
        });
        splide.mount();
    });
</script>
</body>
</html>