<!doctype html>
<!--suppress ALL -->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- head include-->
<th:block th:replace="inc/head :: headFragment"></th:block>

<body class="bg-gray-200">

<!-- nav include-->
<th:block th:replace="inc/nav :: navFragment"></th:block>

<!-- search include-->
<th:block th:replace="inc/search :: searchFragment"></th:block>

<div class="card card-body mx-lg-3 mt-3 board">
    <section class="container col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-10">
        <div class="row">

        </div>
    </section>
</div>

<!-- media include-->
<th:block th:replace="inc/media_bottom :: mediaBottomFragment"></th:block>

<!-- footer include-->
<th:block th:replace="inc/footer :: footerFragment"></th:block>

<!-- mymenu modal include-->
<th:block th:replace="inc/mymenu :: myMenuFragment"></th:block>

<!-- control to top include-->
<th:block th:replace="inc/ctrl_bth :: ctrlBtnFragment"></th:block>

<!-- common script include-->
<th:block th:replace="inc/script :: scriptFragment"></th:block>

</body>
</html>